In [51]:
from sklearn.ensemble import RandomForestRegressor 
from sklearn.metrics import roc_auc_score
import pandas as pd

In [52]:
X = pd.read_csv('train.csv')
Y = X.pop("Survived")

In [53]:

X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [54]:
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
#fill missing values from age catagory

X["Age"].fillna(X.Age.mean(), inplace=True)
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [56]:
# just get numerical values by selecting only the varibales tharare not 'object' data set

numeric_variable = list(X.dtypes[X.dtypes != "object"].index) # [X.dtypes != "object"]
print (numeric_variable)
X[numeric_variable].head()

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250
3            4       1  35.0      1      0  53.1000
4            5       3  35.0      0      0   8.0500

In [57]:
model = RandomForestRegressor(n_estimators=100, oob_score=True,random_state=42)
model.fit(X[numeric_variable],Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=True, random_state=42,
           verbose=0, warm_start=False)

In [58]:
model.oob_score_
#model.

0.1361695005913669

In [59]:
Y_oob = model.oob_prediction_
print("c-stat", roc_auc_score(Y,Y_oob))

c-stat 0.73995515504

In [60]:
Y_oob

array([ 0.71111111,  0.72413793,  0.02325581,  0.47368421,  0.16666667,
        0.34146341,  0.64705882,  0.17647059,  0.52777778,  0.75609756,
        0.72222222,  0.29411765,  0.38709677,  0.625     ,  0.87096774,
        0.46875   ,  0.04444444,  0.78571429,  0.41304348,  0.24242424,
        0.88571429,  0.64102564,  0.35897436,  0.5       ,  0.27777778,
        0.05128205,  0.88636364,  0.71428571,  0.46875   ,  0.36842105,
        0.47368421,  0.23684211,  0.84090909,  0.67647059,  0.82051282,
        0.475     ,  0.33333333,  0.225     ,  0.18421053,  0.53191489,
        0.275     ,  0.57777778,  0.11904762,  0.90625   ,  0.36363636,
        0.0625    ,  0.61764706,  0.62162162,  0.44186047,  0.16129032,
        0.25      ,  0.70833333,  0.25      ,  0.61290323,  0.36363636,
        0.4       ,  0.66666667,  0.5       ,  1.        ,  0.13157895,
        0.33333333,  0.2       ,  0.76923077,  0.21428571,  0.5       ,
        0.25      ,  0.36842105,  0.33333333,  0.4516129 ,  0.10526316,
        0.88888889,  0.13157895,  0.51351351,  0.23076923,  0.34146341,
        0.56410256,  0.1       ,  0.03030303,  0.97222222,  0.41860465,
        0.11428571,  0.07142857,  0.52631579,  0.44444444,  0.54761905,
        0.16129032,  0.28571429,  0.        ,  0.20512821,  0.        ,
        0.06060606,  0.75      ,  0.34482759,  0.6       ,  0.18421053,
        0.        ,  0.12820513,  0.26470588,  0.4       ,  0.57142857,
        0.        ,  0.        ,  0.58823529,  0.02777778,  0.14893617,
        0.02941176,  0.2195122 ,  0.30232558,  0.04651163,  0.38095238,
        0.1       ,  0.51282051,  0.        ,  0.32352941,  0.16666667,
        0.07317073,  0.2       ,  0.59090909,  0.4       ,  0.15384615,
        0.14285714,  0.        ,  0.23333333,  0.28205128,  0.40540541,
        0.4       ,  0.72727273,  0.08823529,  0.41025641,  0.18604651,
        0.        ,  0.475     ,  0.09090909,  0.14705882,  0.30769231,
        0.41463415,  0.57894737,  0.575     ,  0.33333333,  0.52272727,
        0.79411765,  0.425     ,  0.20512821,  0.26315789,  0.42857143,
        0.7173913 ,  0.375     ,  0.3125    ,  0.57777778,  0.5       ,
        0.17777778,  0.25714286,  0.05263158,  0.10526316,  0.1875    ,
        0.2972973 ,  0.36842105,  0.06451613,  0.02040816,  0.        ,
        0.16666667,  0.28205128,  0.66666667,  0.22857143,  0.15384615,
        0.44444444,  0.29787234,  0.1       ,  0.3125    ,  0.6       ,
        0.        ,  0.13333333,  0.84090909,  0.21875   ,  0.06896552,
        0.74285714,  0.25806452,  0.35897436,  0.26190476,  0.13157895,
        0.        ,  0.41025641,  0.16129032,  0.94594595,  0.76315789,
        0.36111111,  0.37142857,  0.40909091,  0.23529412,  0.04878049,
        0.05555556,  0.31707317,  0.34285714,  0.97435897,  0.48780488,
        0.52173913,  0.64516129,  0.02702703,  0.        ,  0.25      ,
        0.35483871,  0.02702703,  0.02857143,  0.09090909,  0.65384615,
        0.8974359 ,  0.47368421,  0.3030303 ,  0.51724138,  0.34693878,
        0.25714286,  0.45      ,  0.2       ,  0.42857143,  0.51351351,
        0.94444444,  0.09375   ,  0.5       ,  0.9       ,  0.23076923,
        0.64516129,  0.29032258,  0.08695652,  0.15151515,  0.81818182,
        0.275     ,  0.05405405,  0.125     ,  0.39534884,  0.21212121,
        0.91666667,  0.0625    ,  0.10810811,  0.35294118,  0.13953488,
        0.        ,  0.34482759,  0.92592593,  0.42857143,  0.39473684,
        0.43902439,  0.34146341,  0.18181818,  0.06666667,  0.08108108,
        0.78125   ,  0.27272727,  0.52777778,  0.70588235,  0.23333333,
        0.06060606,  0.25714286,  0.13953488,  0.7       ,  0.425     ,
        0.36363636,  0.77419355,  0.95348837,  0.82352941,  0.34285714,
        0.28571429,  0.15909091,  0.9375    ,  0.07894737,  0.47619048,
        0.11111111,  0.12121212,  0.23684211,  0.4       ,  0.86111111,
        0.39534884,  0.09756098,  0.42424242,  0.54545455,  0.34146341,
        0.54545455,  0.35      ,  0.28571429,  0.22580645,  0.2195122 ,
        0.15151515,  0.625     ,  0.37037037,  0.13953488,  0.43902439,
        0.29166667,  0.10810811,  0.25      ,  0.22222222,  0.59459459,
        0.82926829,  0.75609756,  0.68421053,  0.11904762,  0.07317073,
        0.48648649,  0.34883721,  0.96969697,  0.125     ,  0.6       ,
        0.63636364,  0.72222222,  0.46153846,  0.4       ,  0.21875   ,
        0.44117647,  0.95121951,  0.70454545,  0.45      ,  0.84615385,
        0.93548387,  0.80487805,  0.7       ,  0.02702703,  0.48780488,
        0.42857143,  0.38709677,  0.27272727,  0.60465116,  0.88095238,
        0.4047619 ,  0.21052632,  0.48648649,  0.66666667,  0.14285714,
        0.82222222,  0.29268293,  0.35      ,  0.47222222,  0.91428571,
        0.55555556,  0.41025641,  0.925     ,  0.42857143,  0.725     ,
        0.12820513,  0.97297297,  0.925     ,  0.12820513,  0.2       ,
        0.975     ,  0.64444444,  0.53846154,  0.60526316,  0.72727273,
        0.29411765,  0.42857143,  0.33333333,  0.9       ,  0.45945946,
        0.21212121,  0.26315789,  0.51282051,  0.5       ,  0.32352941,
        0.22222222,  0.85714286,  0.71052632,  0.65625   ,  0.74358974,
        0.21621622,  0.37142857,  0.39473684,  0.25806452,  0.68571429,
        0.51351351,  0.73333333,  0.125     ,  0.63636364,  0.77142857,
        0.71052632,  0.25714286,  0.45652174,  0.97222222,  0.2972973 ,
        0.88571429,  0.21052632,  0.46341463,  0.28888889,  0.55555556,
        0.7       ,  0.93103448,  0.41025641,  0.45945946,  0.07142857,
        0.71428571,  0.35483871,  0.28125   ,  0.40740741,  0.575     ,
        0.73684211,  0.        ,  0.28571429,  0.66666667,  0.30232558,
        0.7       ,  0.35555556,  0.41666667,  0.5       ,  0.41176471,
        0.18604651,  0.125     ,  0.07142857,  0.52631579,  0.02702703,
        0.64516129,  0.27083333,  0.97058824,  0.13333333,  0.02941176,
        0.05      ,  0.10344828,  1.        ,  0.10344828,  0.36842105,
        0.17857143,  0.5       ,  0.6       ,  0.72972973,  0.56521739,
        0.10526316,  0.14285714,  0.425     ,  0.31818182,  0.36842105,
        0.02857143,  0.66666667,  0.86666667,  0.14705882,  0.14893617,
        0.72222222,  0.3       ,  0.5       ,  0.14705882,  0.94871795,
        0.88888889,  0.23529412,  0.875     ,  0.68571429,  0.56756757,
        0.48780488,  0.23684211,  0.21052632,  0.43243243,  0.02777778,
        0.89655172,  0.94871795,  0.71052632,  0.75757576,  0.30769231,
        0.88636364,  0.45454545,  0.8       ,  0.54285714,  0.32142857,
        0.10810811,  0.05263158,  0.31428571,  0.45714286,  0.1       ,
        0.19512195,  0.08333333,  0.34375   ,  0.725     ,  0.07692308,
        0.03333333,  0.09677419,  0.25      ,  0.03571429,  0.90697674,
        0.02631579,  0.0952381 ,  0.43589744,  0.5       ,  0.25      ,
        0.76470588,  0.71794872,  0.17241379,  0.38888889,  0.96774194,
        0.07317073,  0.07692308,  0.37209302,  0.15      ,  0.84782609,
        0.07142857,  0.94871795,  0.19354839,  0.02777778,  0.23076923,
        0.11764706,  0.23684211,  0.27906977,  0.17948718,  0.02857143,
        0.05405405,  0.8125    ,  0.17647059,  0.65116279,  0.20588235,
        0.05      ,  0.3255814 ,  0.        ,  0.15625   ,  0.75      ,
        0.90625   ,  0.66666667,  0.57142857,  0.36111111,  0.43902439,
        0.06060606,  0.06896552,  0.82608696,  0.59375   ,  0.21052632,
        0.18421053,  0.3125    ,  0.3       ,  0.66666667,  0.34375   ,
        0.88372093,  0.11764706,  0.        ,  0.8       ,  0.02777778,
        0.10714286,  0.60465116,  0.44      ,  0.31818182,  0.72727273,
        1.        ,  0.03030303,  0.2972973 ,  0.05263158,  0.08823529,
        1.        ,  0.79310345,  0.69565217,  0.09677419,  0.81395349,
        0.78947368,  0.04081633,  0.02325581,  0.72727273,  0.86486486,
        0.06896552,  0.7027027 ,  0.48648649,  0.53846154,  0.93939394,
        0.84375   ,  0.8125    ,  0.5       ,  0.13513514,  0.23809524,
        0.        ,  0.3       ,  0.72972973,  0.86046512,  0.07894737,
        0.35      ,  0.16666667,  0.76744186,  0.025     ,  0.02941176,
        0.27777778,  0.08695652,  0.64864865,  0.30555556,  0.14705882,
        0.3125    ,  0.6       ,  0.66666667,  0.10810811,  0.28      ,
        0.18518519,  0.57142857,  0.78378378,  0.2195122 ,  0.13513514,
        0.5       ,  0.66666667,  0.18518519,  0.5483871 ,  0.18604651,
        0.78947368,  0.3125    ,  0.54347826,  0.05405405,  0.        ,
        0.        ,  0.86486486,  0.        ,  0.41176471,  0.56756757,
        0.10526316,  0.26829268,  0.04347826,  0.        ,  0.76470588,
        0.8       ,  0.        ,  0.51612903,  0.11111111,  0.72972973,
        0.2972973 ,  0.        ,  0.5       ,  0.82857143,  0.69230769,
        0.02564103,  0.        ,  0.125     ,  0.21621622,  0.        ,
        0.74193548,  0.08108108,  0.26470588,  0.95555556,  0.4       ,
        0.2972973 ,  0.86842105,  0.17647059,  0.11363636,  0.26829268,
        0.33333333,  0.22580645,  0.83783784,  0.02272727,  0.36363636,
        0.03703704,  0.        ,  0.71875   ,  0.08333333,  0.025     ,
        0.33333333,  0.41935484,  0.88888889,  0.14285714,  0.46153846,
        0.11627907,  0.82051282,  0.19047619,  0.75      ,  0.86666667,
        1.        ,  0.06818182,  0.13953488,  0.30769231,  0.18181818,
        0.09375   ,  0.675     ,  0.13636364,  0.        ,  0.4375    ,
        0.51612903,  0.23076923,  0.61290323,  0.23255814,  0.75609756,
        0.32432432,  0.        ,  0.52272727,  0.04347826,  0.02777778,
        0.4       ,  0.24390244,  0.41463415,  0.02777778,  0.375     ,
        0.20512821,  0.83333333,  0.38095238,  0.47058824,  0.1875    ,
        0.13888889,  0.15555556,  0.        ,  0.08823529,  0.81818182,
        0.2       ,  0.79411765,  0.175     ,  0.02083333,  0.625     ,
        0.77272727,  0.        ,  0.33333333,  0.02702703,  0.8       ,
        0.64285714,  0.94736842,  0.71428571,  0.33333333,  0.35897436,
        0.29411765,  0.09375   ,  0.29032258,  0.83783784,  0.2       ,
        0.55      ,  0.75555556,  0.60526316,  0.475     ,  0.17948718,
        0.62222222,  0.11764706,  0.59259259,  0.5       ,  0.12820513,
        0.51162791,  0.925     ,  0.54285714,  0.19047619,  0.17391304,
        0.41860465,  0.86111111,  0.11764706,  0.34883721,  0.10526316,
        0.95833333,  0.30952381,  0.51282051,  0.3       ,  0.72222222,
        0.18181818,  0.37837838,  0.13513514,  0.41666667,  0.4       ,
        0.58139535,  0.57692308,  0.08333333,  0.        ,  0.        ,
        0.025     ,  0.15      ,  0.85714286,  0.04545455,  0.10714286,
        0.21875   ,  1.        ,  0.68571429,  0.09375   ,  0.125     ,
        0.65789474,  0.11111111,  0.12195122,  0.83333333,  0.18421053,
        0.95238095,  0.75675676,  0.06896552,  0.        ,  0.63888889,
        0.81818182,  0.24324324,  0.11904762,  0.        ,  0.84210526,
        0.        ,  0.        ,  0.30555556,  0.78125   ,  0.3030303 ,
        0.68571429,  0.23529412,  0.        ,  0.03125   ,  0.36363636,
        0.03703704,  0.16666667,  0.38095238,  0.02325581,  0.36111111,
        0.19444444,  0.06060606,  0.8974359 ,  0.61764706,  0.81818182,
        0.53125   ,  0.55263158,  0.69230769,  0.10344828,  0.25641026,
        0.27272727,  0.2       ,  0.        ,  0.93023256,  0.94594595,
        0.20588235,  0.70967742,  0.09090909,  0.7       ,  0.07142857,
        0.11111111,  0.55813953,  0.34210526,  0.1627907 ,  0.13157895,
        0.17073171,  0.22857143,  0.96774194,  0.55172414,  0.05714286,
        0.23076923,  0.02941176,  0.35135135,  0.14285714,  0.76744186,
        0.15789474,  0.06818182,  0.13953488,  0.52941176,  0.18181818,
        0.        ,  0.10526316,  0.5483871 ,  0.06818182,  0.13513514,
        0.8       ,  0.2       ,  0.02439024,  0.48648649,  0.125     ,
        0.47222222,  0.8974359 ,  0.95121951,  0.        ,  0.59459459,
        0.20512821,  0.97297297,  0.32352941,  0.09375   ,  0.14705882,
        0.97560976,  0.1025641 ,  0.0952381 ,  0.29411765,  0.53125   ,
        0.13888889,  0.42105263,  0.58823529,  0.09375   ,  0.11111111,
        0.05882353,  0.10526316,  0.        ,  0.80952381,  0.83783784,
        0.26666667,  0.30952381,  0.80555556,  0.88571429,  0.85      ,
        0.1875    ,  0.74358974,  0.78947368,  0.34146341,  0.23333333,
        0.19047619,  0.16216216,  0.90322581,  0.05128205,  0.35714286,
        0.16666667,  0.5       ,  0.75609756,  0.09090909,  0.72727273,
        0.05263158,  0.72972973,  0.15384615,  0.17142857,  0.75      ,
        0.475     ,  0.20512821,  0.15151515,  0.        ,  0.84615385,
        0.5625    ,  0.        ,  0.1       ,  0.41666667,  0.31034483,
        0.12121212,  0.74418605,  0.70588235,  0.28947368,  0.78125   ,
        0.33333333])

In [61]:
# make analysis on catagoricle values
def describ_cat(X):
    # return results for catgorikal values only
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes=="object"]].describe().to_html()))

In [62]:
describ_cat(X)

In [63]:
#drop varibles that dont feel relevant
X.drop(["Name","Ticket","PassengerId"], axis=1, inplace=True)

In [68]:
# change cabin variblea are 
# program changes each cabin value with initial letter and return none for missing values
def clean_cabin(x):
    try:
        return x[0]
    except TypeError:
        return "None"
X["Cabin"] = X.Cabin.apply(clean_cabin)

In [69]:
X.Cabin

0      None
1         C
2      None
3         C
4      None
5      None
6         E
7      None
8      None
9      None
10        G
11        C
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21        D
22     None
23        A
24     None
25     None
26     None
27        C
28     None
29     None
       ...
861    None
862       D
863    None
864    None
865    None
866    None
867       A
868    None
869    None
870    None
871       D
872       B
873    None
874    None
875    None
876    None
877    None
878    None
879       C
880    None
881    None
882    None
883    None
884    None
885    None
886    None
887       B
888    None
889       C
890    None
Name: Cabin, dtype: object

In [73]:
Catagorical_variables = ['Sex','Cabin','Embarked']

for variable in Catagorical_variables:
    #fill missing data with "missing"
    X[variable].fillna("Missing", inplace=True)
    #create array of dummies
    dummies = pd.get_dummies(X[variable], prefix=variable)
    X = pd.concat([X,dummies],axis=1)
    X.drop([variable],axis=1,inplace=1)

In [76]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_None,Cabin_T,Embarked_C,Embarked_Missing,Embarked_Q,Embarked_S
0,3,22.000000,1,0,7.2500,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
1,1,38.000000,1,0,71.2833,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
2,3,26.000000,0,0,7.9250,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,1,35.000000,1,0,53.1000,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1
4,3,35.000000,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
5,3,29.699118,0,0,8.4583,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
6,1,54.000000,0,0,51.8625,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1
7,3,2.000000,3,1,21.0750,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
8,3,27.000000,0,2,11.1333,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
9,2,14.000000,1,0,30.0708,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
10,3,4.000000,1,1,16.7000,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1
11,1,58.000000,0,0,26.5500,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1
12,3,20.000000,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
13,3,39.000000,1,5,31.2750,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
14,3,14.000000,0,0,7.8542,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
15,2,55.000000,0,0,16.0000,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
16,3,2.000000,4,1,29.1250,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
17,2,29.699118,0,0,13.0000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
18,3,31.000000,1,0,18.0000,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
19,3,29.699118,0,0,7.2250,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
20,2,35.000000,0,0,26.0000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
21,2,34.000000,0,0,13.0000,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1
22,3,15.000000,0,0,8.0292,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
23,1,28.000000,0,0,35.5000,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1
24,3,8.000000,3,1,21.0750,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
25,3,38.000000,1,5,31.3875,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
26,3,29.699118,0,0,7.2250,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
27,1,19.000000,3,2,263.0000,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1
28,3,29.699118,0,0,7.8792,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
29,3,29.699118,0,0,7.8958,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,21.000000,1,0,11.5000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
862,1,48.000000,0,0,25.9292,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
863,3,29.699118,8,2,69.5500,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
864,2,24.000000,0,0,13.0000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
865,2,42.000000,0,0,13.0000,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
866,2,27.000000,1,0,13.8583,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
867,1,31.000000,0,0,50.4958,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1
868,3,29.699118,0,0,9.5000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
869,3,4.000000,1,1,11.1333,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
870,3,26.000000,0,0,7.8958,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
871,1,47.000000,1,1,52.5542,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
872,1,33.000000,0,0,5.0000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
873,3,47.000000,0,0,9.0000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
874,2,28.000000,1,0,24.0000,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
875,3,15.000000,0,0,7.2250,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
876,3,20.000000,0,0,9.8458,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
877,3,19.000000,0,0,7.8958,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
878,3,29.699118,0,0,7.8958,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
879,1,56.000000,0,1,83.1583,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
880,2,25.000000,0,1,26.0000,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
881,3,33.000000,0,0,7.8958,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
882,3,22.000000,0,0,10.5167,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
883,2,28.000000,0,0,10.5000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
884,3,25.000000,0,0,7.0500,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
885,3,39.000000,0,5,29.1250,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
886,2,27.000000,0,0,13.0000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
887,1,19.000000,0,0,30.0000,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1
888,3,29.699118,1,2,23.4500,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
889,1,26.000000,0,0,30.0000,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
890,3,32.000000,0,0,7.7500,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [78]:
model = RandomForestRegressor(n_estimators=100, oob_score=True,random_state=42)
model.fit(X,Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=True, random_state=42,
           verbose=0, warm_start=False)

In [79]:

print("c-stat", roc_auc_score(Y,model.oob_prediction))

AttributeError: 'RandomForestRegressor' object has no attribute 'oob_prediction'